

<big>{[plan.name]}</big>
<div ng-repeat="task in plan.tasks">
    <div ng-click="selectTask(task)" ng-class="task.activate ? 'activate' : 'deactivate'">
        {[task.name]} 
        <a ng-click="removerTask(task,plan.tasks)">
            <span class="glyphicon glyphicon-ok-circle">
            </span>
        </a>
    </div>
</div>
<form class="pure-form" ng-submit="adicionarTask(plan)">
        
    <div >
        <input type="text" name="task" ng-model="plan.newTask" placeholder="Digite o título da Tarefa">
        <input type="submit" class="btn btn-success" value="Add {[plan.name]}">
    </div>
    </form> 
    
<hr></hr>
<i ng-click="modEdit? modEdit = false:modEdit = true"class="fa fa-cog" aria-hidden="true"></i>
<div ng-repeat="task in plan.tasks">
    <div ng-show="currentTask == task.name">
        <div ng-show="modEdit == false">
            {[task.description]}
        </div>
        <div ng-show="modEdit">
            <textarea rows="10" cols="110" ng-init='text=task.description' ng-model="text">
            </textarea>
            <button type="submit" ng-click="alterTask(task,text)" class="btn btn-success">
                confirmar descrição
            </button>
        </div>
    </div>
</div>
  


